

.first{
background-color:#C0C0C0;
height:100px;
width:33.33%;
position:relative;
padding:100px;
}
.first:hover{
		background-color: aqua;
}
.second{
background-color:#4863A0;
height:100px;
width:33.33%;
position: relative;
left:235px;
bottom:300px;
padding:100px;

}
.second:hover{
		background-color: red;
}
.third{
background-color:#77BFC7;
height:100px;
width:33.33%;
padding: 100px;
left:400px;

position: relative;

}
.third:hover{
		background-color: green;
}
.fourth{
background-color:#FFC0CB;
height:100px;
width:33.33%;
padding: 100px;
position: relative;
}
.fourth:hover{
		background-color: grey;
}
.fifth{
background-color:cadetblue;
height:100px;
width:33.33%;
padding: 100px;
position: relative;
left:235px;
bottom:300px;

}
.fifth:hover{
background-color: yellow;
}

